# --------------------------------------------------
# Application
# --------------------------------------------------
APP_NAME=Enterprise AI Compliance Review Platform
APP_VERSION=0.1.0
APP_ENV=development
DEBUG=true
APP_DESCRIPTION=Enterprise AI Compliance Review Platform API
AUTHOR_NAME=Zubeda Abbas
AUTHOR_URL=https://github.com/bzubeda64
LICENSE_NAME=MIT

# --------------------------------------------------
# API
# --------------------------------------------------
API_V1_PREFIX=/api/v1
HOST=0.0.0.0
PORT=8000

# --------------------------------------------------
# Logging
# --------------------------------------------------
LOG_LEVEL=INFO

# --------------------------------------------------
# PostgreSQL
# --------------------------------------------------
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=compliance_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# --------------------------------------------------
# AWS
# --------------------------------------------------
AWS_REGION=us-east-1

# --------------------------------------------------
# JWT
# --------------------------------------------------
JWT_SECRET=change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30